/*  ここには全ページに共通する事項を記入する
/*  ヘッダー、フッダー、文字色、背景、フォント関連
/* --------------------------------------------- */
/* 文字の設定 */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');



.container-fluid{
    text-align: left;
}

/*リンクの変色の設定*/
a:link {
    color: #0A2397;
    text-decoration: none;
}

a:visited {
    color: #0A2397;
}

a:hover {
    color: #5c6797;
    text-decoration: underline;
}


/* ページTopへ戻るボタンのcss */
.page-end a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin: 0 auto;
}
h1 {
    font-size: 48px;
    text-align: center;
    font-weight: 400;
}
.page-title { /* 上と下に青い線がひかれた「JEARN」とか「理事長挨拶」の */
    padding: 24px 0 24px 0;
    border-top: 1px solid #34B3E6;
    border-bottom: 1px solid #34B3E6;
    font-weight: 400;
}
h2 {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 1px solid #34B3E6;
    font-weight: 400;
}
h3 {
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}
p {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}
.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* --------------------------------------------- */
/* 背景色の設定 */
.content-bg-white {
    background-color: #FFFFFF;
    border-bottom: 1px solid #000000;
    padding: 20px 0 20px 0;
}
.content-bg-gray { /* 背景色がグレーなところはabout.htmlにしかないから、個別にしてもいいかもしれない */
    background-color: #E0DCDC;
    border-bottom: 1px solid #000000;
    padding: 20px 0 20px 0;
}

/* --------------------------------------------- */

/* ヘッダーの設定 */
.keyvisual {
    width: 100%;
    height: 250px;
    background: #3B4FAC;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 62.5%;
    font-weight: 400;
    font-family: "Zen Kaku Gothic New", sans-serif;
    border-top: #000000 1px solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 1000px 200px;
    border-bottom-left-radius: 1000px 200px;
}
.logo {
    width: 60%;
    max-width: 60%;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5% 0 5%;
} 

.menu1 {
    /* 縦線のcss */
    /* border-left: #000 1px solid;*/
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 3%;
    transform: translate(10%, 0%); 
    width: 10%; 
}
.menu2 {
    /* 縦線のcss */
    /* border-left: #000 1px solid;
    border-right: #000 1px solid; */
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 1%;
    transform: translate(10%, 0%);
    width: 10%;
}
.add {
    /* altのcss */
    transform: translate(-100%, 0%);
}
.lang {
    /* 言語のcss */
    transform: translate(40%, 0%);
} 

.hb-menu {
    width: 10%;
}

/* --------------------------------------------- */
/* パンくずリストの設定*/
.nav1 {
    padding: 0.5%;
}
.nav2 {
    font-size: 16px;
    padding-left: 1%;

}
.nav2 li {
    display: inline;
    font-size: 16px;
    line-height: 1.75;
}
.nav2 li ::after {
    content: ' > ';
    color: #FFFFFF;
    top : 0;
    left : 0;
    padding: 0.2em;
} 
.nav2 .last ::after {
    content: none;
}
.nav2 a {
    color: currentColor;
    text-decoration: none;
}  

.nav2 a:hover {
    text-decoration: underline;
}

/* --------------------------------------------- */
/* フッターの設定 */
.footerwrap {
    /* フッター全体のcss */
    width: 100%;
    background-color: #3B4FAC;
    color: #FFFFFF;
}
.end{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    min-width: 65%;
}
.footernav li {
    display: inline;
    font-size: 11px;
    line-height: 1.75;
}
.footernav2 li {
    display: inline;
    font-size: 11px;
    line-height: 1.75;
}

.footernav2 li a:hover {
    text-decoration: underline;
}

.NPO {
    text-align: left;
    font-size: 16px;
}
.mail {
    text-align: left;
    font-size: 16px;
}
/* .footernav {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    width: 30%;
    display: flex;
} */
.address {
    position: relative;
    padding: 10px;
    width: 30%;
}
.address a {
    color: #FFFFFF;
    text-decoration: none;
}
.SDGs {
    margin-top: 2%;
    /* transform: translate(-130px); */
    padding-right: 25%;
    /* padding: 10px; */
    /* padding-top: 5%;
    padding-left: 5%; */
}
.SDGs a {
    color: #FFFFFF;
    text-decoration: none;
}
.footermenu {
    position: relative;
    /* padding: 10px; */
    width: 40%;
}
.footernav2 a{
    color: #FFFFFF;
     text-decoration: none;
}

.SNSicon {
    margin-top: 8%;
}
.pry a {
    color: #FFFFFF;
}
.copy {
    border-top: #FFFFFF 1px solid;
    text-align: center;
}
/* --------------------------------------------- */
/* ハンバーガーメニュー */
/* 参照：https://mik2062.jp/hamburger-css/　の「スマホ用メニューの作成」 */
.hb-menu_box {
    /*位置の設定*/
    position: fixed;
    top: 0;
    right: 0;
    /* 中の要素を上下中央寄せ */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* サイズ指定 */
    height: 113px;
    width: 113px;
    /* 最前面にする */
    z-index: 100;
    background-color: #ffffff;
}
/* メニューの白線を疑似要素を使って3本作成 */
.hb-menu_box span,         /* 真ん中の線 */
.hb-menu_box span:before,  /* 上の線 */
.hb-menu_box span:after {  /* 下の線 */
    content: "";
    /* ３本線のサイズと色を指定 */
    display: block;
    height: 5px;
    width: 57px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
}
/* 上の線の位置 */
.hb-menu_box span:before {
    bottom: 20px;
}
/* 下の線の位置 */
.hb-menu_box span:after {
    top: 20px;
}
/* チェックボックスを使ってメニューの出し入れ */
#hb-menu_check {
    display: none;
}
/* チェックボックスがONになったら✕を表示させる */
/* 真ん中の線は透明にする */
#hb-menu_check:checked ~ .hb-menu_box span {
    background: rgba(255, 255, 255, 0);
}
/* 上の線と下の線の表示位置を変えることで✕を作る */
#hb-menu_check:checked ~ .hb-menu_box span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#hb-menu_check:checked ~ .hb-menu_box span::after {
    top: 0;
    transform: rotate(-45deg);
}
/* ハンバーガーメニュー展開後の表示設定 */
.hb-menu_content {
    position: fixed;
    width: 100%;
    height: 100%;
    /* 開始位置の設定*/
    top: 0;
    left: 100%;
    /* ページコンテンツの前面、ハンバーガーメニューボタンの背面に表示 */
    z-index: 90;
    background-color: #3B4FAC;
    transition: all 0.5s;
}
/* ハンバーガーメニューのコンテンツの設定 */
.hb-menu_list {
    padding: 70px 10px 0;
}
/* ハンバーガーメニューのチェックボックスがONの時だけ左端に展開する */
#hb-menu_check:checked ~ .hb-menu_content {
  left: 0;
}

/* メニュー項目全体の設定 */
.hb-menu_item {
    list-style: none;
    display: flex;
}
/* メニュー項目の見出し（「Home」とか「About us」）の設定*/
.hb-menu_summary {
    display: block;
    font-size: 32px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 7px 0 7px 20px;
    width: 250px;     /* 幅を指定することでメニューの詳細の開始位置を揃える */
}
/* 各メニュー項目の詳細 （「About us」内の要素の「About JEARN」とか「理事業挨拶」）の設定*/
.hb-menu_details {
    display: flex;
    color: #FFFFFF;
}
.hb-menu_link {
    font-size: 32px;
    list-style: none;
    padding: 20px 35px 0 0;
}
.hb-menu_link a {
    color: #FFFFFF;
}


/* 「ページTopへ」の設定 */
.return-top {
    font-size: 24px;
    text-align: center;
}

.copyright{
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    .jearn-logo {
        width: 100%;
        max-width: 100%;
    }
    .join-logo{
        width: 50%;
        padding-left: 0%;
    }
}
