/*  ここには全ページに共通する事項を記入する
/*  ヘッダー、フッダー、文字色、背景、フォント関連
/* --------------------------------------------- */
/* 文字の設定 */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');



.container-fluid{
    text-align: left;
}

/*リンクの変色の設定*/
a:link {
    color: #0A2397;
    text-decoration: none;
}

a:visited {
    color: #0A2397;
}

a:hover {
    color: #5c6797;
    text-decoration: underline;
}


/* ページTopへ戻るボタンのcss */
.page-end a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin: 0 auto;
}
h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}
.page-title { /* 上と下に青い線がひかれた「JEARN」とか「理事長挨拶」の */
    padding: 24px 0 24px 0;
    border-top: 1px solid #34B3E6;
    border-bottom: 1px solid #34B3E6;
    font-weight: 400;
}
h2 {
    font-size: 32px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 1px solid #34B3E6;
    font-weight: 400;
}
h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}
p {
    font-size: 20px;
    font-weight: 400;
    text-align:justify
}

/* --------------------------------------------- */
/* 背景色の設定 */
.content-bg-white {
    background-color: #FFFFFF;
    border-bottom: 1px solid #000000;
    padding: 20px 0 20px 0;
}
.content-bg-gray { /* 背景色がグレーなところはabout.htmlにしかないから、個別にしてもいいかもしれない */
    background-color: #E0DCDC;
    border-bottom: 1px solid #000000;
    padding: 20px 0 20px 0;
}

/* --------------------------------------------- */

/* ヘッダーの設定 */
.keyvisual {
    width: 100%;
    height: 250px;
    background: #3B4FAC;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 62.5%;
    font-weight: 400;
    font-family: "Zen Kaku Gothic New", sans-serif;
    border-top: #000000 1px solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 1000px 200px;
    border-bottom-left-radius: 1000px 200px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    height: 125px;
} 

.logo {
    width: fit-content;
}

.global-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    max-width: 40%;
    height: 100%;
}

.jearn-logo {
    width: 100%;
}

.menu1, .menu2 { 
    border-right: 2px solid black;   
    width: 33%;
    min-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu1 {
    border-left: 2px solid black;  
}

.puzzle-icon-area, .globe-icon-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: fit-content;
    margin: 0 auto;
}

.icon-text {
    margin-bottom: 0;
}

.hb-menu {
    width: 33%;
    position: relative;
    height: 100%;
    min-width: 100px;
}

/* --------------------------------------------- */
/* パンくずリストの設定*/
.nav1 {
    padding: 0.5%;
}
.nav2 {
    font-size: 16px;
    padding-left: 1%;

}
.nav2 li {
    display: inline;
    font-size: 16px;
    line-height: 1.75;
}
.nav2 li ::after {
    content: ' > ';
    color: #FFFFFF;
    top : 0;
    left : 0;
    padding: 0.2em;
} 
.nav2 .last ::after {
    content: none;
}
.nav2 a {
    color: currentColor;
    text-decoration: none;
}  

.nav2 a:hover {
    text-decoration: underline;
}

/* --------------------------------------------- */
/* フッターの設定 */
.footerwrap {
    /* フッター全体のcss */
    width: 100%;
    background-color: #3B4FAC;
    color: #FFFFFF;
}
.end{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 65%;
    column-gap: 10%;
    row-gap: 20px;
    padding-top: 20px;
}
.footernav li {
    display: inline;
    font-size: 16px;
    line-height: 1.75;

}
.footernav2 li {
    display: inline;
    font-size: 16px;
    line-height: 1.75;
}

.footernav2 li a:hover {
    text-decoration: underline;
}

.NPO {
    text-align: left;
    font-size: 16px;
}
.mail {
    text-align: left;
    font-size: 16px;
}
.footernav {
    margin: 0;
    padding: 0;
}
.address {
    position: relative;
    padding: 10px;
    width: 30%;
}
.address a {
    color: #FFFFFF;
    text-decoration: none;
}
.SDGs {
    width: 40%;
}
.SDGs a {
    color: #FFFFFF;
    text-decoration: none;
}
.footermenu {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: right;
}
.footernav2 {
    margin: 0;
    padding: 0;
    width: fit-content;
}
.footernav2 a{
    color: #FFFFFF;
     text-decoration: none;
}

.pry a {
    color: #FFFFFF;
}
.copy {
    border-top: #FFFFFF 1px solid;
    text-align: center;
}
/* --------------------------------------------- */
/* ハンバーガーメニュー */
/* 参照：https://mik2062.jp/hamburger-css/　の「スマホ用メニューの作成」 */
.hb-menu_box {
    /*位置の設定*/
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* 中の要素を上下中央寄せ */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* サイズ指定 */
    height: 57px;
    width: 57px;
    /* 最前面にする */
    z-index: 100;
}
/* メニューの白線を疑似要素を使って3本作成 */
.hb-menu_box span,         /* 真ん中の線 */
.hb-menu_box span:before,  /* 上の線 */
.hb-menu_box span:after {  /* 下の線 */
    content: "";
    /* ３本線のサイズと色を指定 */
    display: block;
    height: 5px;
    width: 57px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
}
/* 上の線の位置 */
.hb-menu_box span:before {
    bottom: 20px;
}
/* 下の線の位置 */
.hb-menu_box span:after {
    top: 20px;
}
/* チェックボックスを使ってメニューの出し入れ */
#hb-menu_check {
    display: none;
}
/* チェックボックスがONになったら✕を表示させる */
/* 真ん中の線は透明にする */
#hb-menu_check:checked ~ .hb-menu_box span {
    background: rgba(255, 255, 255, 0);
}
/* 上の線と下の線の表示位置を変えることで✕を作る */
#hb-menu_check:checked ~ .hb-menu_box span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#hb-menu_check:checked ~ .hb-menu_box span::after {
    top: 0;
    transform: rotate(-45deg);
}
/* ハンバーガーメニュー展開後の表示設定 */
.hb-menu_content {
    position: fixed;
    width: 100%;
    height: 100%;
    /* 開始位置の設定*/
    top: 0;
    left: 100%;
    /* ページコンテンツの前面、ハンバーガーメニューボタンの背面に表示 */
    z-index: 90;
    background-color: #3B4FAC;
    transition: all 0.5s;
}
/* ハンバーガーメニューのコンテンツの設定 */
.hb-menu_list {
    padding: 70px 10px 0;
}
/* ハンバーガーメニューのチェックボックスがONの時だけ左端に展開する */
#hb-menu_check:checked ~ .hb-menu_content {
  left: 0;
}

/* メニュー項目全体の設定 */
.hb-menu_item {
    list-style: none;
    display: flex;
}
/* メニュー項目の見出し（「Home」とか「About us」）の設定*/
.hb-menu_summary {
    display: block;
    font-size: 32px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 7px 0 7px 20px;
    width: 250px;     /* 幅を指定することでメニューの詳細の開始位置を揃える */
}
/* 各メニュー項目の詳細 （「About us」内の要素の「About JEARN」とか「理事業挨拶」）の設定*/
.hb-menu_details {
    display: flex;
    color: #FFFFFF;
}
.hb-menu_link {
    font-size: 32px;
    list-style: none;
    padding: 20px 35px 0 0;
}
.hb-menu_link a {
    color: #FFFFFF;
}


/* 「ページTopへ」の設定 */
.return-top {
    font-size: 24px;
    text-align: center;
}

.copyright{
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    .header {
        padding-left: 10px;
        height: auto;
    }

    .global-nav {
        max-width: none;
        justify-content: flex-end;
    }

    .menu1, .menu2, .hb-menu {
        width: 60px;
        min-width: 0px;
    }
    
    .icon-text {
        font-size: 12px;
    }

    .hb-menu_box {
        width: 50px;
        height: 50px;
    }

    .hb-menu_box span,  
    .hb-menu_box span:before, 
    .hb-menu_box span:after {
        width: 50px;
        height: 5px;
    }

    .end {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row^gap: 30px;
    }

    .footermenu {
        justify-content: center;
        width: 100%;
    }

    .SDGs {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .SNSicon {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
