.keyvisual{
  background-color:#DC9452;
}

h2{
  margin-top: 30px;
}

.text1{
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 20%;
  line-height: 2em;
}

.collaboration-center{
  margin: auto;
  display: flex;
}

.collaboration-center1{
  margin: auto;
  width: 40%;
  height: 40%;
}

.collaboration-center2{
  margin: auto;
  width: 40%;
  height: 40%;
}

.gakusyu-icon{
  text-align: center;
}

.project-icon{
  text-align: center;
}

.card-title{
  text-align: center;
}

.card-text{
  font-size: 100%;
  width: 60%;
  margin: auto;
}

.card-more{
  text-align: right;
}

.card-title{
  text-align: center;
}

.heading2-text{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.page-end{
  text-align: center;
}

.card-group{
  margin-bottom: 30px;
}

.kome{
  font-size: 85%;
}

.text-body-secondary{
  text-align: right;
}

.card-text{
  text-align: justify;
}

.collaboration-center{
  margin: auto;
  text-align: center;
}