/* ロゴの設定 */
.logo a {
    text-align: left;
}
/*トップビジュアル、トップタイトルの設定*/
.content-bg-white-top { /* home.htmlのトップビジュアルのbgは個別で設定する */
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.top-img { /* SDGsロゴ */
    width: 650px;    /* figmaでは692px */
    height: 430px;
}
.top-img-bg { /* SDGsロゴの背景色等 */
    width: 650px;    /* figmaでは692px */
    height: 581px;
    background-color: #3B4FAC;
    display: flex;
    align-items: center;
}
.top-title {
    font-size: 60px;  /* figmaでは64px */
    text-decoration: none;
    font-weight: 400;
}

/*文字や背景の設定*/
.content-title { /* home.htmlのみコンテンツタイトルのフォントサイズとかが若干違う */
    display: inline-block;
    border-bottom: 1px solid #34B3E6;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}
.content-inner { /* コンテンツ内部の左右の空白調整 */
    padding: 0 170px 0 170px;
}
a { /* 「→more」の設定 */
    font-size: 24px;
    text-align: right;
    display: block;
    font-weight: 400;
}
.content-bg-white-end { /* 最後のコンテンツbgだけ下線なし */
    background-color: #FFFFFF;
    padding: 20px 0 20px 0;
}


/*カード（Our Key words）の設定*/
.card-container { /* カードを横に並べる */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.card { /* カード間の空白の設定 */
    text-align: center;
    width: 50%;
    margin: 0 50px 0 50px;
}

/* top-imgを除く画像の設定 */
.logo {
    text-align: center;
}


