.iEARN-Logo {
    /* iEARNのロゴのcss */
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.iEARN-info {
    /* iEARNの説明文のcss */
    /* padding: 10%; */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 23%;
    line-height: 2em;
}

.iEARN-icon {
    /* Collaborationのアイコンのcss */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 以下それぞれのアイコンについてのcss */
.country-icon {
    padding: 5%;
}
.language-icon {
    padding: 5%;
}
.education-icon {
    padding: 5%;
}
.youth-icon {
    padding: 5%;
}

/* Collaborationのcss */
.collaboration-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
}
.collaboration-info a {
    text-decoration: none;
}
.collaboration-text {
    padding: 5%;
    transform: translate(0%, -10%);
}

/* Joinのcss */
.join-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
}
.join-info a {
    text-decoration: none;
}
.join-text {
    /* padding: 10%;
    transform: translate(0%, 10%); */
    margin-right: 15%;
    margin-top: 8%;
}

.page-end {
    text-align: center;
}


/* レスポンシブデザイン */
@media (max-width: 767px){
    .keyvisual {
        width: 193%;
        padding: 1%;
    }
     .title {
        width: 100%;
        padding: 1%;
    }
    .page-title {
        width: 193%;
        padding: 1%;
    }
    .cliché {
        width: 193%;
        padding: 1%;
    }
    .iEARN-Logo {
        width: 193%;
        padding: 1%;
    }
    .iEARN-info {
        padding: 5%;
        line-height: 1.5;
        width: 185%;
    }
    .iEARN-icon {
        padding: 1%;
        width: 193%;
    }
    .collaboration-info {
        line-height: 1.5;
        width: 193%;
        padding: 1%;
    }
    .collaboration-text {
        padding: 1%;
        transform: translate(0%, 0%);
        width: 193%;
    }
    .join-info {
        line-height: 1.5;
        width: 193%;
        padding: 1%;
    }
    .join-text {
        padding: 1%;
        transform: translate(0%, 0%);
        width: 193%;
    }
    /* .page-end {
        width: 193%;
        padding: 1%;
    } */
    .end{
        width: 193%;
        background-color: #3b4fac;
        padding: 1%;
    }
    .copy {
        width: 193%;
        background-color: #3b4fac;
        padding: 1%;
    }
}