.subhead{
    margin-bottom: 200px;
}
.box{
    border-top: solid 1.5px; 
    margin-bottom: 100px;
}

.archive .box a{
    margin-top: ;
    margin-left: ;
    margin-bottom: auto;
}

.archive a{
    text-align: center;
}

/* ページTopへ戻るボタンのcss */
.page-end a {
    text-decoration: none;
    color: #000;
}