.text {
    text-align: left;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
}

.keyvisual{
    background-color: #DC5A52;

}

.publicher{
    font-size: 70%;
}

.photo1 {
    display: flex;/*画像を横並びにする*/
    margin-top: 100px;
    margin-bottom: 100px;
}

.photo1 li {
    justify-content: center;/*リンク部分を中央に配置*/
    padding: 3%;/*画像の間に空白を設ける*/
}

.photo2 {
    display: flex;
    margin-bottom: 100px;
}

.photo2 li {
    justify-content: center;/*リンク部分を中央に配置*/
    padding: 3%;/*画像の間に空白を設ける*/
}

.photo3 {
    margin-bottom: 50px;
    padding-left: 3%;
}

.photo3 a{
    margin-left: 40px;
}

.page-end {
    text-align: center;
}