.otoiawase-text{
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.otoiawase{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

a[target=_blank] {
	padding-right: 30px;
	background: url(../img/link.png) no-repeat scroll right center transparent;
}

h2{
    border: none;
}

.movie{
    margin-top: 30px;
    text-align: center;
}

.containet py-5{
 border: none;   
}

.accordion{
    border: none;
}

.accordion-item{
    border: none;
}